
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<h3 class="py-2 border-bottom">Giới thiệu</h3>
<p>PT Store là 1 chuỗi cửa hàng mới được thành lập những năm gần đây. Chuyên kinh doanh các mặt hàng quần áo nam nữ và cả đồ đôi.PT Store được thành lập ngày 04/02/2022.Với mục đích là tận tâm phục vụ khách hàng</p>
<p>Thương hiệu thời trang PT Store là thương hiệu thời trang được chung tôi nghiên cứu và phát triển tại thị trường Việt Nam. Lấy cảm hứng từ sự lịch lãm và sang trọng là sự kết hợp hài hòa giữa xu hướng thời trang hiện đại</p>
<div class="font-weight-bold py-1">ĐA DẠNG VỀ MẪU MÃ</div>
<p>Không chỉ dừng ở các sản phẩm thời trang phổ thông, chúng tôi mang đến cho khách hàng những cảm xúc mới trong từng thiết kế ở dòng thời trang hiện đại(áo sơ mi, áo POLO...)</p>
<p>Tại Choco các mẫu thiết kế luôn được chăm chút tỉ mỉ, cẩn thận đến từng chi tiết, từ khâu phác thảo cho đến lựa chọn may mẫu và hoàn thiện. Với đội ngũ chuyên nghiệp và tận tâm, Choco hy vọng sẽ làm hài lòng và nhận được sự tin tưởng từ khách hàng qua từng sản phẩm.</p>
<div class="font-weight-bold py-1">ĐỘI NGŨ CHĂM SÓC KHÁCH HÀNG CỦA PT STORE</div>
<p>PT STORE có đội ngũ nhân viên chăm sóc khách hàng chuyên nghiệp, tận tâm, chu đáo, luôn lăng nge và đồng hành cùng khách hàng và xin cảm ơn khách hàng đã tin dùng với thương hiệu thời trang của chúng tôi.</p>
<p>Đơn vị chủ quản: Hộ kinh doanh cá thể PT Store Việt Nam</p>
<p>Người đại diện: ĐẶNG LƯU QUỐC TIẾN-NGUYỄN THANH PHÚC</p>
